body {
    font-family: 'Josefin Sans';
    background-color: #f8f9fb85;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    .react-horizontal-scrolling-menu--scroll-container {
        overflow: hidden;
    }
}